.div__registration{
    display: flex;
    flex-flow: column;
    width: fit-content;
    margin: auto;
    margin-top: 20%;
}

div{
    margin: 10px;
}

input{
    float: right;
    margin-inline: 5px;
}